
.App {
    margin: 30px auto;
    max-width: 600px;
}

.App footer {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

.App a {
    text-decoration: none;
}

.App a:hover {
    color: darkorchid;
}